# Please fill up this directory with the GBG provided dependencies.
.DS_Store
Frameworks/*
!Frameworks/ignore-me.txt
*.xcuserdata
*.xcuserstate
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcodeproj/xcuserdata/
